{% extends "SCP05_TestingInstructions/myPage.html" %}
{% load staticfiles otree %}


{% block scripts %}

    <!-- define a script -->
    <script>

    {#var timeInMinutes = 2;#}
    {#var currentTime = Date.parse(new Date());#}
    {#var deadline = new Date(currentTime + timeInMinutes*60*1000);#}
    {#var minutesSpan = document.getElementById('id_minutes');#}
    {#var secondsSpan = document.getElementById('id_seconds');#}
    {##}
    {##}
    {#function updateClock() {#}
    {#    var t = getTimeRemaining(deadline);#}
    {#    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);#}
    {#    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);#}
    {#    return t;#}
    {#}#}
    {##}
    {#function getTimeRemaining(endtime) {#}
    {#    var t = Date.parse(endtime) - Date.parse(new Date());#}
    {#    var seconds = Math.floor((t / 1000) % 60);#}
    {#    var minutes = Math.floor((t / 1000 / 60) % 60);#}
    {#    return {#}
    {#        'total': t,#}
    {#        'minutes': minutes,#}
    {#        'seconds': seconds#}
    {#    };#}
    {#}#}
    {##}
    {#function initializeClock() {#}
    {#    var timeinterval = setInterval(function () {#}
    {#        var t = updateClock();#}
    {#        if(t.total<=0){}#}
    {#    }, 1000);#}
    {#}#}
    {##}
    {#initializeClock();#}

    </script>

{% endblock %}


{% block title %}

            Reminders

{% endblock %}

{% block content %}
{##}
{#<div id="clockdiv" style="position: absolute; top: 10px; right: 10px; color: red;">#}
{#    <span id="id_minutes">02</span>:<span id="id_seconds">00</span>#}
{#</div>#}



    <div style="background-color:white;position: relative; left:15%;width:70%;text-align: justify">
<br/>
        <ol>
            <li>The experiment is made up of 25 matches. </li><br/>
            <li>At the start of each match you will be randomly paired with another participant.</li><br/>
            <li>You will select a plan that will make your choices for you in every round of the match. The other participant will also select a plan.</li><br/>
            <li>The match will last a random number of rounds.</li><br/>
            <li>When the match ends, you will again be randomly paired with another participant for the next match.</li><br/>
            <li>At the end of the experiment, your total points will be converted into
              cash at the exchange rate of 200 points = $1. In addition, you will be paid your show-up fee of $5.</li><br/>
        </ol>

        <p style="text-align: center"><br/>
            <button class="otree-btn-next btn btn-primary" id="NextButton" style="display:inline-block;">Begin Experiment</button>
        </p>

     </div>




{% endblock %}
