{% extends 'otree/WaitPage.html' %}
{% load static otree %}
{% block title %}{{ title_text }}{% endblock %}

{% block content %}
    {{ body_text }}
{% endblock %}

{% block app_styles %}

<style type="text/css">


.otree-wait-page__title {
    background: white;
    font-family: Proxima Nova;
    text-align: center;
}

.body {
     background: white;
}

.otree-body {
        border: none;
        font-family: Proxima Nova;
        font-size: 16px;
        position: absolute;
        max-width: 1678px;
        max-height: 1048px;
        border: solid darkgreen;
    }

    .otree-title {
        background: white;
        font-family: Proxima Nova;
        text-align: center;
    }

    .otree-title.page-header {
        font-family: Proxima Nova;
        text-align: center;
        padding: 0px;
    }

    .card-body {
        background: white;
        font-family: Proxima Nova;
        font-size: 18px;
    }

    .card.bg-light.instructions{
        padding: 0px;
        border: none;
    }



</style>

{% endblock %}




{% block app_scripts %}


{% endblock %}